h1{
    color:yellow;
    background-color:black;
}
p{
    color: YELLOW;
    background-color: black;
}
#Colour{
    color: blueviolet;
        }
.edit{
 color: aqua;
 background-color: blue;
    }
p,h1{
    width: 500px;
}